body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: #000 !important;
}

a {
  text-decoration: none !important;
}

body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #000; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #0d6efd; /* color of the scroll thumb */
  border-radius: 20px;
  border: 2px solid #000; /* roundness of the scroll thumb */
}

/* Navbar */
.navbar.bg-dark {
  background-color: transparent !important;
}

.navbar.bg-dark.scrolled {
  background-color: #111 !important;
}

/* Header */
header {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/bg-index.png");
  background-position: center;
  background-size: cover;
}

header .container {
  position: relative;
  height: 90%;
}

header .container h1 {
  font-size: 5rem;
}
.navbar .logo-nav {
  height: 50px;
}

/* Content */
.content-container .container .btn {
  width: 100%;
  background-size: cover;
  background-position: center;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

.content-container .container .btn:hover {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
}

/* detail */
.detail-container {
  background-size: cover;
  background-position: center;
}
.detail-container h1 {
  font-size: 5rem;
}

.detail-container .content {
  padding: 5rem 0;
}

.detail-container .container .row .desc-container {
  background-color: #222;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  height: 360px;
}
.detail-container .desc-item {
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -o-transition: all 0.1s;
}

/* Modal */
.modal-dialog {
  overflow-y: scroll;
}

/* footer */
footer {
  height: 20vh;
}
footer .container {
  height: 100%;
}

footer a h1 {
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

footer a h1:hover {
  letter-spacing: 3px;
}
